@import "../globals.css";

:root {
    --margin: 5vw;
    --secondary-title-color: #111111;
}

@media (prefers-color-scheme: dark) {
    :root {
        --secondary-title-color: #d8d3d4;
    }
}

.app-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px var(--margin);
}

.app-header {
    margin-bottom: 32px;
    width: 100%;
}

.app-header > h1 {
    font-size: 22px;
    margin-bottom: 24px;
}

.boards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.boards-search-bar {
    font-size: 15px;
    max-width: 28rem;
}

.boards-search-bar > input {
    border: var(--card-border) 1px solid;
    background-color: var(--card-bg);
    padding: 4px 12px 4px 40px;
    border-radius: 8px;
    height: 35px;
    display: flex;
    outline-style: none;
    min-width: 0;
    width: 100%;
    box-shadow: var(--card-shadow);
}

.boards-search-bar > input:focus-visible {
    border-color: var(--accent-color);
}

.boards-list-title {
    font-size: 20px;
    font-weight: normal;
    color: var(--secondary-title-color);
    margin-bottom: 16px;
}

.board-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: var(--card-border) 1px solid;
    box-shadow: var(--card-shadow);
    background-color: var(--card-bg);
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    height: 100%;
}

.board-card-title {
    font-size: 18px;
}

.board-card-members {
    width: 100%;
}

.member-medal {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    background-color: var(--accent-color);
    border-radius: calc(infinity * 1px);
    border: var(--card-bg) 2px solid;
    width: 32px;
    height: 32px;
}

.member-medal-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.create-board-card {
    gap: 6px;
    align-items: center;
}

.create-board-plus {
    border-radius: calc(infinity * 1px);
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-board-card > span {
    font-size: 14px;
    color: #9f9fa9;
}

.create-board-card:hover {
    cursor: pointer !important;
}

.board-card:hover {
    border-color: var(--accent-color);
}
