@import "../globals.css";

:root {
    --margin: 5vw;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0f0f0f;
    }
}

h1 {
    font-size: 22px;
    margin-bottom: 24px;
}

.app-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px var(--margin);
}

.app-header {
    margin-bottom: 32px;
    width: 100%;
}

.boards {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.boards-search-bar {
    font-size: 15px;
    max-width: 28rem;
}

.boards-search-bar > input {
    border: #27272AFF 1px solid;
    background-color: #18181BFF;
    padding: 4px 12px 4px 40px;
    border-radius: 8px;
    height: 35px;
    display: flex;
    outline-style: none;
    min-width: 0;
    width: 100%;
}

.boards-search-bar > input:focus-visible {
    border-color: var(--accent-color);
}

.boards-list-title {
    font-size: 20px;
    font-weight: normal;
    color: #d8d3d4;
    margin-bottom: 16px;
}

.board-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
    border: #27272AFF 1px solid;
    background-color: #18181BFF;
    border-radius: 16px;
    padding: 16px;
}

.board-card-title {
    font-size: 18px;
}

.create-board-card {
    gap: 6px;
    align-items: center;
}

.create-board-plus {
    border-radius: calc(infinity * 1px);
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-board-card > span {
    font-size: 14px;
    color: #9f9fa9;
}

.create-board-card:hover {
    cursor: pointer !important;
}

.board-card:hover {
    border-color: var(--accent-color);
}
